@import "../../main.scss";

.cart-product {
  display: flex;
  align-items: center;
  position: relative;

  .image {
    width: 30%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .product-info {
    width: 70%;
    padding: 1rem;
    h5 {
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .delete {
    color: $text-color;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1rem;
  }
}
