@import "../../main.scss";
@import "../../assets/styles/breakpoints.scss";

.product-page {
  width: 90%;
  margin: 5rem auto;
  margin-top: 2rem;

  .details {
    padding: 1rem;

    .price {
      margin: 1.5rem 0;
    }

    .quantity-title {
      margin: 1.5rem 0;
    }

    .desc {
      color: $text-color;
      margin-top: 2rem;
      span {
        display: block;
        color: #000;
        margin-bottom: 1rem;
      }
    }
  }
}

@include breakpoint-up(md) {
  .product-page {
    display: flex;
  }

  .details {
    width: 50%;
  }
}

@include breakpoint-down(md) {
  .details {
    text-align: center;
    .quantity {
      margin: auto;
    }
  }
}
