@import "../../main.scss";

.product-page {
  margin-top: 2rem;
  display: flex;

  .details {
    width: 50%;
    padding-right: 3rem;

    .price {
      margin: 1.5rem 0;
    }

    .quantity-title {
      margin: 1.5rem 0;
      user-select: none;
    }

    .desc {
      color: $text-color;
      margin-top: 2rem;
      span {
        display: block;
        color: #000;
        margin-bottom: 1rem;
      }
    }
  }
}
