@import "../../main.scss";

.checkout {
  width: 90%;
  margin: 5rem auto;

  .titles {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-color;
    padding: 1rem 2rem;

    h4:first-child {
      width: 50%;
    }
  }
  .pay-now {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    border-top: 1px solid $light-color;
    align-items: center;

    .total-price {
      display: flex;
      span {
        font-weight: bold;
        color: $bold-text-color;
        margin: 0 2rem;
      }
    }
  }

  .payment {
    max-width: 500px;
    margin: auto;
  }
}
