@import "../../main.scss";

.product {
  width: 220px;
  height: 350px;
  border-radius: 8px;
  background-color: #fff;
  .image {
    border-radius: 8px 8px 0 0;
    width: 220px;
    height: 270px;
    overflow: hidden;
    position: relative;
    &:hover {
      .add-to-cart {
        bottom: 0;
      }
    }
    .add-to-cart {
      cursor: pointer;
      display: flex;
      width: 100%;
      height: 3rem;
      align-items: center;
      justify-content: center;
      color: #eee;
      position: absolute;
      bottom: -3rem;
      transition: 0.7s;
      background-color: rgba(0, 0, 0, 0.7);
      &:hover {
        background-color: rgba(256, 256, 256, 0.7);
        color: #000;
      }
      span {
        font-size: 0.8rem;
        margin-left: 6px;
      }
      .icon {
        height: 100%;
        width: 3rem;
        display: grid;
        place-items: center;
        border-left: 1px solid #aaa;
        &:hover {
          background-color: rgba(256, 256, 256, 0.7);
          color: #000;
        }
      }
    }
    .product-image {
      cursor: pointer;
      max-width: 100%;

      &:hover {
        animation: fade 0.4s;
      }
    }

    @keyframes fade {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .title {
    display: block;
    margin: 10px 0;
    color: $bold-text-color;
    text-align: center;
  }
  .info {
    font-size: 0.8rem;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    color: $text-color;
    margin-bottom: 5px;
    .price {
      color: #333;
    }
    .rating {
      display: flex;
      align-items: center;
    }
  }
}

.shadow {
  box-shadow: 1px 1px 40px 5px rgba(0, 0, 0, 0.11);
}
