@import "../../main.scss";

.filters {
  // background-color: $back-light;
  width: 250px;
  height: calc(100vh - 110px);
  padding-left: 1rem;
  padding-top: 20px;

  .title {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: $text-color;
  }

  .gender {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .categories-filter {
    margin-bottom: 1rem;
  }

  .price-range {
    margin: 1rem 0;
    .title {
      margin-left: 0;
    }
    padding: 0 1rem;
    .slide {
      color: $main-color;
      width: 90%;
      // margin-left: 1rem;
    }
  }
}
