@import "../../main.scss";

.filters {
  // background-color: $back-light;
  width: 250px;
  height: calc(100vh - 110px);
  padding-left: 1rem;
  padding-top: 20px;

  .gender {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .title {
      margin-left: 1rem;
    }
  }
}
