@import "../../main.scss";
@import "../../assets/styles/breakpoints.scss";

.search-cntr {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;

  .search {
    width: 40%;
    height: 40px;
    min-width: 200px;
    padding: 0 10px;
    border: 1px solid $text-color;
    border-radius: 5px;
    background-color: $back-light;
    margin-left: 1rem;
  }
}

.main-page {
  margin: 5rem 0;
  display: flex;
  width: 100%;
  position: relative;

  .flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    .options {
      display: flex;
      height: 50px;
      padding: 0 3rem;
      align-items: center;
      justify-content: space-between;
      .filter-icon {
        cursor: pointer;
        font-size: 1.5rem;
      }
      .sort {
      }
    }
  }
}

@include breakpoint-down(md) {
  .filter-icon {
    display: block;
  }
}
