@import "../../main.scss";
@import "../../assets/styles/breakpoints.scss";

.categories {
  padding-bottom: 5rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 1rem;
}

@include breakpoint-down(md) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}
