@import "../../main.scss";

.categories {
  background-color: $back-light;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  li {
    padding: 10px 10px;
    &:hover {
      background-color: $back-dark;
    }
  }
}
