@import "../../main.scss";
@import "../../assets/styles/breakpoints.scss";

.product-galory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  .main-img {
    margin-left: 1rem;
    overflow: hidden;
    width: 400px;
    img {
      max-width: 100%;
    }
  }
  .images {
    .image {
      overflow: hidden;
      max-width: 70px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}

@include breakpoint-down(md) {
  .product-galory {
    width: 100%;
  }
}
