@import "../../main.scss";

.popular-products {
  background-color: $back-light;
  width: 100%;
  padding: 5rem 3rem;
  margin: auto;
  h1 {
    color: $text-color;
    text-align: center;
  }
  .carousel {
    padding: 2rem 0;
    // display: flex;
    // justify-content: center;
  }
}
