@import "../../main.scss";

.cntr {
  .back-drop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 998;
  }
  .back-drop-open {
    display: block;
  }
  .side-bar {
    background-color: $back-light;
    position: absolute;
    height: 100%;
    top: 0;
    max-width: 400px;
    z-index: 999;
    position: fixed;
    overflow: auto;
    transition: 0.5s ease-in-out;
  }
}
