@import "../../main.scss";

.checkbox {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  .box {
    color: $main-color;
    border-color: $text-color;
    cursor: pointer;
    height: 30px;
  }

  label {
    font-size: 14px;
    cursor: pointer;
    color: $text-color;
  }
}
