@import "../../main.scss";

.checkbox {
  margin-left: 2rem;
  input {
    accent-color: $main-color;
    margin-right: 8px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
    color: $text-color;
  }
}
