@import "../../main.scss";
@import "../../assets//styles/breakpoints.scss";

.products {
  position: relative;
  padding: 0 1.5rem;
  padding-top: 1rem;
  display: grid;
  // width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-flow: row;
  justify-items: center;
  place-items: center;
}
