@import "../../main.scss";
@import "../../assets//styles/breakpoints.scss";

.products {
  position: relative;
  padding: 0 1.5rem;
  padding-top: 1rem;
  display: grid;
  width: 100%;
  // height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-flow: row;

  .empty {
    margin-top: 100px;
    position: absolute;
    color: $text-color;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
